.image{
     animation-delay: 100ms;
width: 572px;
height: auto;

}
 
iframe{
     
}


.location{
    width: 572px;
    height: 288px;
}


.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}
.contact-col div .fa-solid{
    font-size: 28px;
    color: black;
    margin-right: 30px;
}

.contact-col div .fa-brands{
    font-size: 28px;
    color: black;
    margin-right: 30px;
}

footer {
    text-align: center;
}